.git
.dotnet
.tools
.next
node_modules
**/node_modules
**/.next
**/.next/**
**/.next-*
**/.next-*/**
**/bin
**/bin/**
**/obj
**/obj/**
**/storage
**/storage/**
.env
.env.*
*.user
*.suo
npm-debug.log*
